body{
  background-image: linear-gradient(to right, #43cea2, #00b5b3, #0099bb, #007ab4, #185a9d);
  background-size: auto 100vh;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.menu ul{
  display: flex;
  justify-content: space-around;
  animation: dismiss 1s;
  animation-fill-mode: forwards;
}

.menu ul:hover{
  animation-name: myanimation; 
  animation-duration: 1.5s; 
}

@keyframes myanimation{ 
  from { 
    display: flex;
    justify-content: space-around; 
  } 
  to { 
    background-color: palevioletred;
    border-radius: 3px;
    padding: 20px;
    
  } 
} 

@keyframes dismiss{ 
  from { 
    background-color: palevioletred;
    border-radius: 3px;
    padding: 20px;
    transition: 1s;
  } 
  to { 
    display: flex;
    justify-content: space-around; 
  } 
} 



.menu a{
  color: black;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  font-size: 40px;
  transition: 1s;
  text-decoration: none;
}

.menu a:hover{
  color: whitesmoke;
}

.site-title, .site-subtitle{
  text-align: center;
  color: whitesmoke;
}

.site-title{
  font-size: 60px;
  color: whitesmoke;
  margin-top: 30px;
}

.site-subtitle{
  font-style: italic;
  margin-top: 5px;
  font-size: 20px;
}