@media (min-width: 1200px){
  .container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}


@keyframes fadeInAnimation { 
  0% { 
      opacity: 0;
  } 
  100% { 
      opacity: 1;
  } 
} 

body{
  background-image: linear-gradient(to right, #43cea2, #00b5b3, #0099bb, #007ab4, #185a9d);
  background-size: auto 100vh;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;

  height: 100vh;

  animation: fadeInAnimation ease 4s; 
  animation-iteration-count: 1; 
}

header{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.menu{
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

@keyframes myAnimation{ 
  from { 
    display: flex;
    justify-content: space-around; 
  } 
  to { 
    background-color: palevioletred;
    border-radius: 3px;
    padding: 20px;

    -webkit-box-shadow: 0px 13px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 13px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 13px 5px 0px rgba(0,0,0,0.75);
    
  } 
} 

@keyframes dismiss{ 
  from { 
    background-color: palevioletred;
    border-radius: 3px;
    padding: 20px;

    -webkit-box-shadow: 0px 13px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 13px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 13px 5px 0px rgba(0,0,0,0.75);
    transition: 1s;
  } 
  to { 
    display: flex;
    justify-content: space-around; 
  } 
}

.menu ul{
  display: flex;
  justify-content: space-around;
  animation: dismiss 1s;
  animation-fill-mode: forwards;
}

.menu ul:hover{
  animation-name: myAnimation; 
  animation-duration: 0.5s; 
}

.menu a{
  color: black;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  font-size: 40px;
  transition: 1s;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
  
.menu a:hover,
.menu a:active{
  color: whitesmoke;
}

@keyframes LoadboxShadow{
  100%{
    -webkit-box-shadow: 40px 14px 15px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 40px 14px 15px 0px rgba(0,0,0,0.7);
    box-shadow: 40px 14px 15px 0px rgba(0,0,0,0.7);
  } 
}

.apresentation{
  color: whitesmoke;
  text-align: center;
  padding: 25px;
  
  background-color: rgb(29, 28, 28);
  border-radius: 5px;
  
  animation: LoadboxShadow 1.75s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
}

.site-title{
  font-size: 6em;
  border-bottom: 5px solid palevioletred;
  padding-bottom: 20px;
}

.site-subtitle{
  font-style: italic;
  padding-top: 10px;
  font-size: 2em;
}

.section-title{
  font-size: 8em;
  /* text-align: center; */
  color: whitesmoke;
  padding-bottom: 50px;
  text-shadow: 3px 4px 0px palevioletred;
}

.sobre,
.ensino{
  min-height: 100vh;
}

.sobre p{
  text-indent: 1.5em;
  text-align: justify;
  font-size: 1.8em;
  margin-bottom: 1.2em;
  
}

.sobre .avatar{
  float: right;
}

.avatar img{
  width: 400px;
  height: auto;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.ensino .grid{
  display: flex;
  justify-content: space-evenly;
}

.ensino figure{
  text-align: center;
  width: 15%;
  background-color: whitesmoke;
  border: 4px solid palevioletred;
  border-radius: 15px;
  padding: 3em;
  transition: 0.5s;
}

.ensino figure:hover{
  transform: scale(1.1) ;
}

.ensino  figcaption{
  padding-top: 20px;
  font-size: 1.8em;
  line-height: 1.2;
}

.img-ensino{
  width: 10em;
  clip-path: circle(50% at 50% 50%);
}

.projetos .grid{
  display: grid;
  gap: 2em;
  grid-template-columns: 400px 400px;
  justify-content: center;
}

.projetos figure{
  text-align: center;
}

.img-projeto{
  width: 100%;
  height: 180px;
}

.contato{
  margin-top: 15em;
  min-height: 70vh;
}

.contato .icons{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.contato a{
  color: whitesmoke;
  font-size: 10em;
  transition: text-shadow 0.5s;
}

.contato a:active,
.contato a:hover{
  text-shadow: 3px 4px 0px palevioletred;
}

footer{
  background-color: palevioletred;
  -webkit-box-shadow: 0px -8px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -8px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -8px 5px 0px rgba(0,0,0,0.75);
  width: auto;
  height: 5em;
  justify-content: center;
  display: flex;
  align-items: center;
}

*[id]:before { 
  display: block; 
  content: " "; 
  height: 120px; 
  visibility: hidden; 
}


.home{
  color: whitesmoke;
  position: fixed;
  bottom: 3em;
  right: 1em;
  font-size: 1.8em;
  opacity: 0.5;
}

/*Responsividade*/
@media (max-width: 500px){
  body{
    font-size: 8px; 
  }

  
  
}



